In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv(r'C:\Users\hirok\OneDrive\Documents\Data Analysis\MAL Project\dfreal.csv',encoding="ISO-8859-1")

In [3]:
data.head()

,Title,Producers,Licensors,Studios,Sources,Genres,Rating,Score
0,Fullmetal Alchemist: Brotherhood,"Aniplex,Square Enix,Mainichi Broadcasting Syst...","Funimation,Aniplex of America",Bones,Manga,"Action,Military,Adventure,Comedy,Drama,Magic,F...",R,9.25
1,Kimi no Na wa.,"Kadokawa Shoten,Toho,Sound Team Don Juan,Lawso...","Funimation,NYAV Post",CoMix Wave Films,Original,"Supernatural,Drama,Romance,School",PG-13,9.19
2,Gintama°,"TV Tokyo,Aniplex,Dentsu","Funimation,Crunchyroll",Bandai Namco Pictures,Manga,"Action,Comedy,Historical,Parody,Samurai,Sci-Fi...",R,9.16
3,Steins;Gate 0,Nitroplus,Funimation,White Fox,Visual novel,"Sci-Fi,Thriller",PG-13,9.16
4,Steins;Gate,"Frontier Works,Media Factory,Movic,AT-X,Kadoka...",Funimation,White Fox,Visual novel,"Sci-Fi,Thriller",PG-13,9.14

In [11]:
df = data['Genres'].str.get_dummies(',').stack().sum(level=1).sort_values(ascending = False)
df

C:\Users\hirok\AppData\Local\Temp/ipykernel_14980/1446632171.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  df = data['Genres'].str.get_dummies(',').stack().sum(level=1).sort_values(ascending = False)

Comedy           763
Action           563
Drama            515
Shounen          450
Adventure        362
Romance          352
Fantasy          345
Slice of Life    320
Supernatural     304
School           296
Sci-Fi           292
Mystery          215
Historical       152
Seinen           152
Magic            146
Sports           132
Super Power      130
Shoujo           130
Military         123
Mecha            118
Psychological     91
Music             78
Parody            75
Space             72
Police            66
Demons            66
Thriller          44
Martial Arts      43
Samurai           39
Horror            36
Game              33
Kids              31
Josei             30
Vampire           24
Shounen Ai        21
Harem             17
Cars              15
Shoujo Ai         13
Dementia           7
dtype: int64

In [16]:
count = pd.DataFrame(data = df, columns = ['Count']).reset_index()
count.rename(columns={'index':'Genre'},inplace=True)
count

            Genre  Count
0          Comedy    763
1          Action    563
2           Drama    515
3         Shounen    450
4       Adventure    362
5         Romance    352
6         Fantasy    345
7   Slice of Life    320
8    Supernatural    304
9          School    296
10         Sci-Fi    292
11        Mystery    215
12     Historical    152
13         Seinen    152
14          Magic    146
15         Sports    132
16    Super Power    130
17         Shoujo    130
18       Military    123
19          Mecha    118
20  Psychological     91
21          Music     78
22         Parody     75
23          Space     72
24         Police     66
25         Demons     66
26       Thriller     44
27   Martial Arts     43
28        Samurai     39
29         Horror     36
30           Game     33
31           Kids     31
32          Josei     30
33        Vampire     24
34     Shounen Ai     21
35          Harem     17
36           Cars     15
37      Shoujo Ai     13
38       Dementia      7

In [6]:
count.to_excel(r'C:\Users\hirok\OneDrive\Documents\Data Analysis\MAL Project\Genre_Count.xlsx',index = False, header = True)

In [7]:
most_common = data.groupby("Genres")["Score"].count().sort_values(ascending=False).reset_index()
most_common.head()
#sorts the highest Genre combination

                                    Genres  Score
0                     Slice of Life,Comedy     16
1       Slice of Life,Comedy,School,Seinen     12
2                                    Music     12
3  Adventure,Mystery,Comedy,Police,Shounen     11
4                 Comedy,Historical,Parody     10

In [8]:
# split_genre = data.Genres.str.split(r',',expand=True)
# split_genre

In [9]:
# df = split_genre.groupby(level=0).agg('count')
# df

In [10]:
# def mean1(x): return np.array(x).astype(int).mean()
# data.split(',', expand=False).agg([mean1])